.nav-item{
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.Navigation{
    padding-bottom: 5%;
}

.Intro{
    padding-bottom: 5%;
}
.fab{
    color:black;
}
.Mid
{
    padding-bottom: 20px;
}
.skills{
    padding-bottom: 40px;
}
.web{
    padding-bottom: 60px;
}
